html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {   
    font-size: 74px;
    
}

h1 {
    width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

div {
    height: 200px;
    background-color: coral;
    color: white;
    line-height: 200px;
    text-align: center;
    text-transform: uppercase;
}