.header {
    height: 3em;
    background-color: #006400;

    .menu {
        margin: 0;
        margin-left: 3em;
        text-transform: uppercase;
        list-style-type: none;
        display: flex;
        height: 3em;

        &__item {
            padding: 0 8px;
            line-height: 3em;
            cursor: pointer;

            &-text {
                color: #fff;
            }

            &:hover {
                background-color: #9acd32;

                .menu__item-text {
                    color: yellow;
                }

                .submenu {
                    display: block;
                }
            }
        }

        .submenu {
            display: none;
            padding: 0;
            margin: 0;
            background-color: #ff7f50;
            list-style-type: none;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
            min-width: 120px;
            z-index: 1;

            &__item {
                color: #fff;
                padding: 0 8px;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}