.gallery {
    display: flex;
}

.image {
    margin: 16px;
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px dotted gray;
}