.rectangle, .oval {
    width: 100px;
    height:  50px;
}

.rectangle {
    background-color: forestgreen;
    border-radius: 16px;
    margin: 50px;
}

.oval {
    background-color: darkmagenta;
    border-radius: 50%;
    margin: 50px;
}

.circle {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    margin: 50px;
    border: 50px solid transparent;
    border-top-color: brown;
}
 
