* {
  box-sizing: border-box;
}

html {
    font: 16px Verdana, sans-serif;
    color: #555;
}

body {
    margin: 0;
}

.header {
    text-align: center;
    color: white;
    font-size: 2em;
    background: linear-gradient(60deg, red, orange);
    margin-bottom: 0.5em;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e5e5e5;
}

.navigation,
.section,
.news {
    padding: 0.5em;
}

.navigation {
    width: 20%;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    margin-bottom: 0.5em;
}

.nav-list-link {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #808080;
    padding: 0.5em;
    border-radius: 0.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
}

.section {
    width: 60%;
    font-size: 1.25em;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: calc(1.125em + 1px);
    font-weight: 700;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.news {
    width: 20%;
}

.footer {
    margin-top: auto;
    background-color: #e5e5e5;
    padding: 0.5em;
}